html {
  box-sizing: border-box;
  background-color: var(--color-bg-light);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  font-family:
    Roboto Condensed,
    system-ui,
    Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

:root {
  --color-primary: #193840;
  --color-secondary: #42b4ca;
  --color-secondary-opacity: rgba(66, 180, 202, 0.75);
  --color-content: #368fa1;
  --text-light: #bababa;
  --color-dark: #d9d9d9;
  --color-bg-light: #f5f5f5;
  --color-hover: rgba(191, 222, 66, 0.8);
  --text-error: #e22b2b;
}
